@page "/NXV"
<h3>

    <MudGrid>
        <MudItem xs="4" >
            1
        </MudItem>
        <MudItem xs="4">
            2
        </MudItem>
        <MudItem xs="4">
            3
        </MudItem>
        <MudItem xs="4">

        </MudItem>
        <MudItem xs="8">

        </MudItem>
        <MudItem xs="4">

        </MudItem>
        <MudItem xs="4">

        </MudItem>
        <MudItem xs="4">

        </MudItem>
    </MudGrid>






</h3>

@code {

}
